<!DOCTYPE html>
<html>
    <head>
        <title>PKS Polls</title>
        <meta charset="utf-8"/>

        {% load static %}
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
        <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lemonmilk">
    </head>
    <body>
        <header>
            <h1 class="title">PKS Polls</h1>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>